<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="h-screen max-w-full mx-auto pt-20 flex justify-between items-center flex-row px-10 ">
        <div class=" w-3/4 h-full flex flex-col">
            <div class="w-full h-32">
                <div class="bg-slate-400 h-full w-11/12 rounded-lg">
                    <div class="flex flex-row pb-2">
                        <p>Servicios >Equipo ></p>
                        <p class="font-bold"> Hora ></p>
                            <p> Confirmar</p>
                        </div>
                    <p class="text-4xl">Seleccionar fecha y hora</p>
                </div>
        </div>
        <div class="w-full h-3/4 pb-2">
            <div class="bg-slate-500 h-40 w-11/12 rounded-lg gap-2 p-2 flex flex-col">
                <p id="month" class="font-bold text-xl pl-7"></p>
                
                <ul id="ul" class="flex flex-row h-full w-fit">
                    
                </ul>
            </div>
            <div class=" h-full w-full rounded-lg pt-2 flex flex-col pb-4 gap-2">
                <div class="bg-slate-500 h-16 w-11/12 rounded-lg p-2 flex items-center">
                    <p id="text" class="font-bold text-lg">Horarios: Escoge una fecha</p>
                </div>
                <ul id="timeList" class="flex flex-col h-full w-11/12">
                </ul>
            </div>
    </div> 
   
    
        </div>
        <div class=" fixed right-10 top-24 w-1/4 h-5/6 pb-3">
            <div class="bg-slate-400 h-full w-full rounded-lg"></div>
        </div> 
        </div>
        <script src="index.js"></script>
</body>
</html>