<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>
<body>
    <nav id="nav" class="fixed top-0 right-0 left-0 bg-rose-900 h-16 gap-4">
    </nav>
    
    <div class="h-screen max-w-full mx-auto pt-16 flex items-start justify-between md:flex-row flex-col overflow-auto lg:overflow-hidden">

        <div class=" w-full h-1/3 lg:h-full py-4 lg:py-7 sm:px-10">
            <div class=" flex justify-center rounded-t-lg flex-col pb-4">
                <p class="md:text-5xl pt-7 pb-2 pl-4 text-4xl font-sans">Servicios</p>
            </div>
            <div id="list" class="flex flex-col h-10">
                <div class="w-4/6 h-16">
                    <div id="menu" class="h-full w-full rounded-lg flex items-center">
                            <a id="destacados"  class="cursor-pointer pr-7 pl-7 text-center h-full  bg-black text-white  p-2 rounded-lg w-full flex justify-center">Peluquería</a>
        
                            <a  id="peluqueria"  class="cursor-pointer pr-5 pl-5 text-center h-full w-full">Cuerpo</a>
        
        
                            <a id="faciales"  class="cursor-pointer pr-5 pl-5 text-center h-full w-full">Cara</a>
        
                            <a id="nails" class="cursor-pointer pr-5 pl-5 text-center h-full w-full">Uñas</a>
        
                    </div>
                </div>
                <ul id="selectionList" >
                </ul>


        </div>
        </div>
        <div class=" md:w-2/5 md:h-full w-full h-2/5">
            <div class="bg-slate-400 h-full w-full flex flex-col items-center justify-center">
                <div class="text-3xl font-bold text-center">Peluqueria <br> New Contrast</div>

                <p class="text-sm font-bold text-center">Encuentranos en la Urbanizacion los Palos Grandes, Cuarta Transversal, Edificio Cuarta Avenida, Planta baja local "B"</p>

                <div class="flex flex-row">
                <a href="https://maps.app.goo.gl/wyFEsWJxo8Yaytt17" class="p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 p-1 rounded-full border-2 border-black hover:bg-slate-600 transition ease-in-out">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                      </svg>
                      </a>
                      <a href="https://www.instagram.com/peluquerianewcontrast/?next=%2F" class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" class="w-14 h-14 p-2 rounded-full border-2 border-black hover:bg-slate-600 transition ease-in-out">
                            <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
                            </svg>
                      </a>
                    </div>

                    <a id="makeDate" class="flex items-center justify-center h-10 w-60 bg-black text-white rounded-lg hover:bg-slate-800 transition ease-in-out cursor-pointer">Anotar cita</a>
            </div>
        </div>
    </div>
<script src="/componentes/nav.js"></script>
<script src="index.js"></script> 
</body>
</html>
