<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="h-screen max-w-full mx-auto pt-20 flex justify-between items-center flex-row px-10 ">
        <div class=" w-3/4 h-full flex flex-col">
            <div class="w-full h-32">
                <div class="bg-slate-500 h-full w-11/12 rounded-lg">
                    <div class="flex flex-row pb-2">
                    <p class="font-bold">Servicios ></p>
                    <p> Equipo >Hora >Confirmar</p>
                    </div>
                    <p class="text-4xl">Servicios</p>
                </div>
        </div>
        <div class="w-full h-16">
            <div class="bg-slate-400 h-full w-11/12 rounded-lg flex items-center gap-4">
                <button class="bg-black text-white p-2 rounded-xl ">Destacados</button>
                <button class="hover:bg-slate-100">Peluquería</button>
                <button>Faciales</button>
                <button>Uñas</button>
            </div>
        </div>
        <div class="w-full h-14 pb-2">
            <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
                <p class="text-2xl">Destacados</p>
            </div>
    </div> 
    <div class="w-full h-1/4 pb-2">
        <div class="bg-slate-400 h-full w-11/12 rounded-lg flex flex-row items-center justify-between p-4 break-words">
            <div class="flex flex-col items-start w-3/4">
            <p class="font-bold pb-0 pr-2 w-full">Retiro de semi</p>
            <p class="text-gray-800">15 min</p>
            <p class="pt-2">Precio</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 cursor-pointer rounded-full hover:bg-slate-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
    </div>
    <div class="w-full h-14 pb-2">
        <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
            <p class="text-2xl">Peluquería</p>
        </div>
    </div>  
    <div class="w-full h-14 pb-2">
        <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
            <p class="text-2xl">Faciales</p>
        </div>
        </div> 
    <div class="w-full h-14 pb-2">
    <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
        <p class="text-2xl">Uñas</p>
    </div>
    </div> 
    
        </div>
        <div class=" fixed right-10 top-24 w-1/4 h-5/6 pb-3">
            <div class="bg-slate-400 h-full w-full rounded-lg"></div>
        </div> 
        </div>
</body>
</html>