<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
    <div class="h-screen max-w-full mx-auto pt-20 flex justify-between items-center flex-row px-10 ">
        <div class=" w-3/4 h-full flex flex-col">
            <div class="w-full h-32">
                <div class="bg-slate-500 h-full w-11/12 rounded-lg">
                    <div class="flex flex-row pb-2">
                    <p class="font-bold">Servicios ></p>
                    <p> Equipo >Hora >Confirmar</p>
                    </div>
                    <p class="text-4xl">Servicios</p>
                </div>
        </div>
        <div class="w-4/6 h-16 fixed top-40">
            <div id="menu" class="bg-slate-700 h-full w-full rounded-lg flex items-center gap-4">
                    <a id="destacados" href="#first">Peluquería</a>

                    <a  id="peluqueria" href="#second">Cuerpo</a>


                    <a id="faciales" href="#third">Cara</a>

                    <a id="nails" href="#four">Uñas</a>

            </div>
        </div>
        <div id="first" class="w-full h-14 pt-2">
            <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
                <p class="text-2xl">Peluquería</p>
            </div>
    </div> 
    <div class="w-full h-1/4">
    <ul id="texDes">
        </ul>
    <div id="second" class="w-full h-14 pt-2">
        <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
            <p class="text-2xl">Cuerpo</p>
        </div>
    </div> 
    <div class="w-full h-1/4">
        <ul id="texPel" >
            </ul> 
    <div id="third" class="w-full h-14 pt-2">
        <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
            <p class="text-2xl">Cara</p>
        </div>
        </div>
        <div class="w-full h-1/4">
            <ul id="texFac" >
                </ul> 
    <div id="four" class="w-full h-14 pt-2">
    <div class="bg-slate-500 h-full w-11/12 rounded-lg flex items-center">
        <p class="text-2xl">Uñas</p>
    </div>
    </div> 
    <div class="w-full h-1/4">
        <ul id="texUn" >
            </ul>
        </div>
        <div class=" fixed right-10 top-24 w-1/4 h-5/6 pb-3 hidden md:flex">
            <div class="bg-slate-400 h-full w-full rounded-lg p-4 pt-7">
                <form class=" h-full flex items-center justify-center flex-col gap-2" id="r">
                    <p class="text-xl text-white font-bold pb-2">Crear nuevo servicio</p>
                <div class="pb-4 w-full rounded-lg">
                <select id="choose" class="w-full p-3 rounded-lg">
                    <option disabled selected value="0">Escoge el servicio</option>
                    <option value="1">Peluquería</option>
                        <option value="2">Cuerpo</option>
                        <option value="3">Cara</option>
                        <option value="4">Uñas</option>
                    </select>
                </div>
                <div class="flex justify-start w-full">
                <p class="font-bold text-xs">Nombre del servicio</p>
                </div>
                <input id="servicio" class="w-full h-10 rounded-lg" type="text" autocomplete="off">
                <div class="flex justify-start w-full">
                <p class="font-bold text-xs pt-2">Duración del servicio</p>
                </div>
                <input id="descripcion" class="w-full h-10 rounded-lg" type="text" autocomplete="off">
                <div class="flex justify-between items-center w-full">
                <p class="font-bold text-xs pt-2">Precio del servicio (En dolares)</p>
                </div>
                <input id="precio" class="w-full h-10 rounded-lg " type="number" autocomplete="off">
                <div class="pt-7 w-full">
                <button id="continuar" class="p-2 w-full font-bold text-white bg-black rounded-lg disabled:opacity-25" disabled>Crear servicio</button>
                </div>
                </form>
            </div>
        </div> 
        </div>
        <script src="index.js"></script>
</body>
</html>