<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employed</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body> 
    <nav id="nav" class="fixed top-0 right-0 left-0 bg-rose-900 h-16 gap-4">
    </nav>

    <div id="notification" class="fixed top-20 right-96  left-0"></div>
    <div class="h-screen max-w-full mx-auto pt-20 flex justify-between items-center flex-row px-10 ">
        <div class=" w-3/4 h-full flex flex-col">
            <div class="w-full h-32">
                <div class="bg-slate-400 h-full w-11/12 rounded-lg">
                    <div class="flex flex-row pb-2">
                        <p>Servicios ></p>
                        <p class="font-bold"> Equipo ></p>
                            <p> Hora >Confirmar</p>
                        </div>
                    <p class="text-4xl">Selecciona a un miembro del equipo</p>
                </div>
        </div>
        <div class="w-full h-full pb-2 gap-2  ">
            <div id="profile" class="bg-slate-500 h-full w-11/12 rounded-lg gap-4 p-2 flex flex-row">
                <div class="flex flex-col">
                    <div id="prueba" class="grid grid-cols-5 gap-4">
                   
                                <div class="lg:hidden w-40 h-40 rounded-full outline outline-2 outline-black flex items-center justify-center hover:bg-slate-400 cursor-pointer">
                                        <p class="text-6xl">+</p>                     
                                </div>
                            </div>
                </div>
                           
                          
    </div> 
    
        </div>
        <div class=" fixed right-10 top-24 w-1/4 h-5/6 pb-3 hidden lg:flex">
            <div class="bg-slate-400 h-full w-full rounded-lg p-4 pt-7">
                <form id="form" class=" h-full flex items-center justify-center flex-col gap-2">
                    <p class="text-xl text-white font-bold">Añadir un trabajador</p>
                <div class="pb-2 pt-7 w-full h-96 rounded-lg">
                <div  class="h-full  w-full">
                    <div class="flex flex-col h-full w-full bg-slate-200 rounded-lg overflow overflow-y-scroll">
                        <ul  id="list">
                        </ul>
                </div>
                </div>
                <div class="flex justify-start w-full">
                <a href="/signem" class="font-bold text-xs pt-2">¿No encuentra al trabajador? Haz click aquí</a>
                </div>
                </div>
                <div class="pt-7 w-full">
                <button id="btn" class="p-2 w-full font-bold text-white bg-black rounded-lg disabled:opacity-25" disabled>Añadir</button>
                </div>
                </form>
            </div>
        </div> 
        </div>

        <script type="module" src="index.js"></script>
        <script type="module" src="/componentes/notification.js"></script>
</body>
</html>